<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.kevs.biyang.game" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fire"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fire"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name="app.kevs.biyang.game.MainActivity" >
        </activity>
        <activity android:name="app.kevs.biyang.game.LoadListActivity"></activity>
        <activity android:name=".DashboardActivity">
        </activity>
        <activity android:name="app.kevs.biyang.game.MonsterCardsActivity">
        </activity>
        <activity android:name=".AICharacterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserSpellActivity">

        </activity>

        <activity android:name="app.kevs.biyang.game.BattleGroundActivity">
        </activity>
        <activity android:name="app.kevs.biyang.game.UpdateItemActivity">
        </activity>
    </application>

</manifest>